
.pokemon_card {
    background-color: var(--black-color);
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
    z-index: 9;
    transition: transform .4s ease;
    border: 1px solid var(--card-border-color);
}

.pokemon_card:hover {
    transform: scale(1.05);
}

.pokemon_card::before {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
    opacity: 0;
    transition: all .4s ease;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pokemon_card:hover::before {
    opacity: 1;
}

.pokemon_card_info {
    position: inherit;
    border-top: 1px solid var(--card-border-color);
    padding-top: 4px;
    transition: border-color .4s ease;
}

.pokemon_card:hover .pokemon_card_info {
    border-color: #fff;
}

.pokemon_card .pokemon_id {
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px 0px 0px 40px;
    color: var(--text-color);
    top: -2px;
    right: -2px;
    position: absolute;
    font-weight: 500;
    font-size: 18px;
    background: var(--body-color);
    justify-content: center;
}

.pokemon_card p {
    font-size: 16px;
}



